.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 500px;
    text-align: center;
}

.question {
    margin-bottom: 16px;
    color: #333;
    font-size: 1.5rem;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.option {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    width: 80%;
    max-width: 400px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.option:hover {
    background-color: #e6f7ff;
}

.selected {
    background-color: #4caf50;
    color: white;
}

.feedback-message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #4caf50; /* 默认显示答对了的绿色 */
}

.feedback-message:not(.correct) {
    color: #dc3545; /* 答错时显示的红色 */
}


.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid blue; /* 设置边框颜色为蓝色 */
}

.back-button:hover {
    background-color: #19e653;
    border: 1px solid #19e653; /* 设置边框颜色为蓝色 */
    color: white;
}